.orders {
  display: flex;
  width: 1200px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.orders-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

.orders-header h2 {
  font-size: 28px;
  font-weight: 200;
  color: var(--red-color);
}

.table {
  width: 80%;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--light-grey-color);
}

  .orders-table th,
  .orders-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .orders-table th {
    background-color: #b8b2aa2d;
  }
  
  .orders-table tbody tr:nth-child(even) {
    background-color: #b8b2aa33;
  }
  
  .orders-table tbody tr:hover {
    background-color: rgba(48, 44, 41, 0.1);
  }
  
  .complete-order-button {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 25px;
    background-color: #cbb29fa7;
    color: var(--light-black-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .complete-order-button:hover {
    background-color: rgba(107, 41, 42, 0.584)
  }
  
  .order-filters-sorts {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

.order-sort{

  align-items: center;
  margin: 5px;
}

.order-sort select {
  height: 35px;
  border-color: var(--light-grey-color);
  color: rgba(48, 44, 41, 0.7);
  font-size: 14px;
  text-align: center;
  background-color: #FFFCF8;
}

.status-filter {
  gap: 40px;
  align-items: center;
}
.orders-price {
  gap: 5px;
}

.orders-price span {
  font-size: 16px;
  color: #716D69;
}

.status-filter button {
  height: 35px;
  width: 120px;
  border: none;
  background-color: rgba(48, 44, 41, 0.1);
  border-radius: 20px;
  color: #716D69;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 3px; 
}

.page {
  padding: 5px 5px; 
  cursor: pointer;
}

.active {
  background-color: var(--light-color); 
}

.active-link {
  background-color: rgba(107, 41, 42, 0.584)
}

.order-search {
  gap: 20px;
}

.order-search button {
  height: 35px;
  width: 120px;
  border: none;
  background-color: rgba(48, 44, 41, 0.1);
  border-radius: 20px;
  color: #716D69;
}




