.shopping-cart {
    width: 100%;
    gap: 5%;
}

.cart-products {
    width: 100%;
    flex: 2;
    padding: 30px 40px;
    height: 100%;
    gap: 10px;
}

.cart-products h2 {
    padding-left: 5px;
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0px;
    color: var(--light-black-color);
}

.cart-summary {
    flex: 1;
    padding: 20px;
    background: rgb(113, 109, 105, 0.3);
    height: 90vh;
    justify-content: center;
    gap: 5px;
}

.cart-summary-container {
    height: 300px;
    border: 2px solid var(--light-grey-color);
    border-radius: 20px;
    background-color: var(--base-color);
    padding: 20px;
    justify-content:space-around;
    gap: 10px;
}

.summary h3 {
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 24px;
    font-weight: 400;
    color: var(--red-color);
}

.summary hr {
    border: 1px solid rgba(184, 178, 170, 0.6);
    margin: 5px;
}

.order-price-content {
    justify-content: space-between;
    padding: 0px 5px;
}

.order-price-content span {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-black-color);
}

.order-price-content div {
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-black-color);
}

.cart-summary-container button {
    width: 100%;
    height: 45px;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    border: none;
    border-radius: 10px;
    color: var(--base-color);
    background-color: rgba(30, 30, 30, 0.8);
    cursor: pointer;
}

.cart-summary-container button:hover {
    border: 2px solid rgba(53, 52, 52, 0.9);
    background-color: rgba(53, 52, 52, 0.4);
    color: var(--light-black-color);
}

.table-headers {
    gap: 10px;
    padding: 0px 5px;
}

.table-headers hr {
    border: 1px solid rgba(184, 178, 170, 0.6);
}

.back-to-shop {
    padding-left: 25px;
    font-size: 20px;
    font-weight: 400;
    color: var(--red-color);
    text-decoration: underline;
}

.back-to-shop:hover {
    color: var(--pastel-red-color);
}