.footer {
    width: 100%;
    flex-direction: column;
    padding: 20px;
    height: 40%;
}

.container{
    width: 90%;
    align-items: center;
    gap: 5%;
    padding: 5px;
}

.options{
    flex: 1;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--light-black-color);
}

.footer-parts{
    flex: 1;
    justify-content: center;
    align-items: center;
}
.footer-parts li{
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    color: var( --dark-grey-color);
    font-weight: 200;
}

.footer-parts p{
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    color: var( --dark-grey-color);
    font-weight: 200;
}