.add-options {
    display: flex;
    width: 1200px;
    padding: 10px;
    align-items: center;
}

.add-options-header {
    margin: 20px 0px;
}

.options-containers {
    width: 100%;
    padding: 20px;
    gap: 5%;
    justify-content: space-between;
}

.add-manufacturer {
    width: 30%;
    gap: 25px;
}

.add-manufacturer-input {
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    align-items:end;
}

.manufacturer-input-name {
    width: 50%;
    gap: 10px;
}

.add-options-table{
    width: 100%;
}

.add-options-button {
    width: 40%;
    height: 32px;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    color: var(--base-color);
    background-color: rgba(30, 30, 30, 0.658);
    cursor: pointer;
}

.add-input-name {
    font-size: 14px;
    font-weight: 200;
    color: #AC5656;
}

.export-csv {
    margin: 5px;
    gap: 25px;
    align-items: center;
}

.export-header {
    font-size: 16px;
    color: #716D69;
}

