.catalog-page {
    width: 100%;
}
.main-content {
    justify-content:center;
    margin: 10px;
    width: 95%;
    gap: 3%;
}

.filters-container{
    flex: 1;
    margin: 55px 30px 0px 30px;
    gap: 20px;
}

.catalog {
    flex: 4;
}

.catalog-header {
    justify-content: space-between;
    width: 95%;
}

.catalog-header h2{
    text-align: center;
    font-size: 32px;
    color: rgba(48, 44, 41, 0.7);
    font-weight: 600;
}

.sort {
    margin: 5px;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.sort h3 {
    font-size: 18px;
    color: var(--dark-grey-color);
}

.sort select {
    height: 25px;
    border-color: var(--light-grey-color);
    color: rgba(48, 44, 41, 0.7);
}

.filters {
    border: 2px solid var(--light-grey-color);
    padding: 20px;
    gap: 10px;
}

.filters h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--light-black-color);
}

.filters-container button {
    height: 40px;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    color: var(--base-color);
    background-color: rgba(30, 30, 30, 0.5);
    cursor: pointer;
}

.filters-container button:hover {
    border: 2px solid rgba(53, 52, 52, 0.9);
    background-color: rgba(53, 52, 52, 0.4);
    color: var(--light-black-color);
}

.products-list {
    gap: 50px
}

.catalog-paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}

